#app{
  height:90vh;
}
.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
}
.button_day {
    background-color: #007bff; /* Light theme button background color */
    color: #fff; /* Light theme button text color */
}

.button_night{
  background-color:blue;
  color:white; 
}
